html {
	height: 100%;
}

body {
	background: #eee;
	font-family: arial, STHeiti, 'Microsoft YaHei', \5b8b\4f53;
	font-size: 14px;
	height: 100%;
}

.nk-container {
	position: relative;
	height: auto;
	min-height: 100%;
}

.container {
	width: 960px;
	padding: 0;
}

header .navbar-brand {
	background: url('https://img.zcool.cn/community/01a59e58299749a84a0e282b1c3760.jpg@1280w_1l_2o_100sh.jpg') no-repeat;
	background-size: 42px 42px;
	width: 42px;
	height: 42px;
	margin: 5px 15px 5px 0;
}

header .navbar {
	padding: 5px 0;
	font-size: 16px;
}

header .badge {
	position: absolute;
	top: -3px;
	left: 33px;
}

footer {
	padding: 20px 0;
	font-size: 12px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer .qrcode {
	text-align: center;
}

footer .detail-info{
	border-left: 1px solid #888;
}

footer .company-info li {
	padding-left: 16px;
	margin: 4px 0;
}

.main {
	padding: 20px 0;
	padding-bottom: 200px;
}

.main .container {
	background: #fff;
	padding: 20px;
}

i {
	font-style: normal;
}

u {
	text-decoration: none;
}

b {
	font-weight: normal;
}

a {
	color: #000;
}

a:hover {
	text-decoration: none;
}

.font-size-12 {
	font-size: 12px;
}
.font-size-14 {
	font-size: 14px;
}
.font-size-16 {
	font-size: 16px;
}
.font-size-18 {
	font-size: 18px;
}
.font-size-20 {
	font-size: 20px;
}
.font-size-22 {
	font-size: 20px;
}
.font-size-24 {
	font-size: 20px;
}

.hidden {
	display: none;
}

.rt-0 {
	right: 0;
	top: 0;
}

.square {
	display: inline-block;
	width: 7px;
	height: 7px;
	background: #ff6547;
	margin-bottom: 2px;
	margin-right: 3px;
}

.bg-gray {
	background: #eff0f2;
}

.user-header {
	width: 50px;
	height: 50px;
}

em {
	font-style: normal;
	color: red;
}

.img_content {
    display: none;
    position: absolute;
    margin: 5% 0 0 0%;
    background-color: white;
    z-index:1002;
    overflow: auto;
    border: solid 1px #3488db;
    height:480px;
    width:650px;
}
.colse_btn {
    border: solid 1px #3488db;
    color: white;
    margin: 5px 10px 0 0;
    height: 30px;
    line-height:30px;
    width: 60px;
    background: #3488db;
    border-radius: .5em;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    float:right;
}
.product-sortthis{
	border:  5px solid #3488db;
	color: rgb(221, 22, 22);
	width: 920px;
	height: 180px;
	display: block;
	background-color: #eee;
	margin-bottom: 5px;
	overflow: hidden;
}
.product_all{
	color: rgb(221, 22, 22);
	width: 800px;
	height: 120px;
	display: inline-block;
	position: relative;left: 20px;top: 10px;

}
.product_img{
	color: rgb(221, 22, 22);
	width: 100px;
	height: 100px;
	display: block;
	position: relative;left: 20px;top: 10px;bottom: 5px;
	float: left;
	background-color: #dadfe4;opacity: 0.7;

}
.product_img img{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	opacity: 1.0;
}

.product_title{
	color: rgb(20, 1, 1);
	width: 150px;
	height: 30px;
	display: block;
	position: relative;left: 44px;top: 2px;bottom: -5px;
	margin-bottom: 10px;
	font-weight: 700;
    font-size: 1.75rem;
    margin-bottom: .3125rem;
    text-overflow:ellipsis;
    overflow: hidden;
}
.product_info{
	color: rgb(18, 19, 19);
	width: 600px;
	height: 80px;
	display: block;
	position: relative;left: 80px;top: 15px;
	margin-top: 5px;
	margin-bottom: 2px;
}
.round_icon{
	width: 80px;
	height: 80px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	vertical-align: middle;
}
.HeadInfo_descText__27YYC {
    flex: 1 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
	font-size: 1.25em;
   word-wrap:break-word;
   word-break:normal;
}
