<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coder.community.dao.DiscussPostMapper">
    <sql id="selectFields">
        id,user_id,title,type,status,create_time,comment_count,score,content,video,images,product_Id
    </sql>
    <sql id="insertFields">
        user_id,title,type,status,create_time,comment_count,score,content,video,images,product_id
    </sql>
    <select id="selectDiscussPosts" resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where status != 2
        <if test="userId != 0">
            and user_id = #{userId}
        </if>
        <if test="productId != 0">
            and product_id = #{productId}
        </if>
        order by type DESC,create_time DESC
        limit #{offset},#{limit}
    </select>
    <select id="selectDiscussPostsRows" resultType="int">
        select count(id)
        from discuss_post
        where status != 2
        <if test="userId != 0">
            and user_id = #{userId}
        </if>
        <if test="productId != 0">
            and product_id = #{productId}
        </if>
    </select>
    <insert id="insertDiscussPost" parameterType="DiscussPost">
        insert into discuss_post(<include refid="insertFields"></include>)
        value(#{userId},#{title},#{type},#{status},#{createTime},#{commentCount},#{score},#{content},#{video},#{images},#{productId})
    </insert>
    <select id="selectById" resultType="DiscussPost">
        select <include refid="selectFields"></include> from discuss_post
        where id = #{id}
    </select>
    <update id="updateCommentCount">
        update discuss_post
        set comment_count = #{count}
        where id = #{id}
    </update>
    <select id="selectAllSpecialPosts" resultType="DiscussPost">
        select <include refid="selectFields"></include> from discuss_post
        where type = 2
        and status != 2
        order by create_time DESC
    </select>
    <select id="selectDiscussPostsByIds" resultType="DiscussPost">
        select <include refid="selectFields"></include> from discuss_post
        where status != 2
        and id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        order by create_time DESC
    </select>
    <select id="countDiscussPostsByIds" resultType="int">
        select count(id) from discuss_post
        where status != 2
        and id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>